.primary-card {
    background-color: #303339;
    border: 1px solid rgb(21, 27, 34);
}

.collection-name {
    color: rgb(138, 147, 155);
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-name {
    color: rgb(229, 232, 235);
}

.card-info {
    padding-top: 8%;
    /* min-height: 282px;
    min-width: 282px; */
}

.card-text-xs {
    font-size: 0.8rem;
}

.card-text-sm {
    font-size: 0.9rem;
}

/* TOD: update card size for remaining screen sizes */
@media screen and (min-width: 640px) and (max-width: 766px) {
    .card-size {
        width: calc((100vw/6) - 40px);
        height: calc(100vw/5);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card-size {
        width: calc((100vw/3) - 40px);
        height: calc(100vw/3 + 80px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .card-size {
        width: calc((100vw/4) - 40px);
        height: calc(100vw/3 - 20px);
    }

    .card-info {
        padding-top: 6%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
    .card-size {
        width: calc((100vw/4) - 40px);
        height: calc(100vw/3 - 20px);
    }
}

@media screen and (min-width: 1536px) and (max-width: 1688px) {
    .card-size {
        width: calc((100vw/5) - 40px);
        height: calc((100vw/4));
    }

    .card-info {
        padding-top: 9%;
        /* min-height: 282px;
        min-width: 282px; */
    }
}

@media screen and (min-width: 1669px) {
    .card-size {
        width: calc((100vw/6) - 36px);
        height: calc((100vw/5) + 25px);
    }

    .card-info {
        padding-top: 8%;
        /* min-height: 282px;
        min-width: 282px; */
    }
}